<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
    <!-- 빈 자동 스캔 - servlet-context.xml에서 Controller를 
    자동 스캔 설정해서 아래 설정에서는 Controller 자동 스캔 제외 -->
    <context:component-scan base-package="kr.cafein">
    	<context:exclude-filter type="annotation" 
    	         expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    
    <!-- JDBC 기반 트랜잭션 관리자 설정 -->
    <bean id="transactionManager" 
      class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
      p:dataSource-ref="dataSource"/>
    <!-- 어노테이션 방식으로 처리할 때 반드시 명시함 
    transaction-manager="transactionManager" 생략가능
    -->  
    <tx:annotation-driven transaction-manager="transactionManager"/>	  
      
    <context:property-placeholder 
                        location="classpath:config/jdbc.properties"/>
    <!-- 커넥션 풀을 이용한 DataSource 설정 -->
    <bean id="dataSource" 
                     class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="driverClassName" value="${jdbc.driverClassName}"/>
    	<property name="url" value="${jdbc.url}"/>
    	<property name="username" value="${jdbc.username}"/>
    	<property name="password" value="${jdbc.password}"/>
    	<!-- 최대 커넥션 갯수 -->
    	<property name="maxActive" value="50"/>
    	<!-- 접속이 없을 경우 최대 유지 커넥션 갯수 -->
    	<property name="maxIdle" value="30"/>
    	<!-- 접속이 없을 경우 최소 유지 커넥션 갯수 -->
    	<property name="minIdle" value="20"/>
    	<!-- 최대 대기시간(초) : 초과시 연결실패 오류 발생 -->
    	<property name="maxWait" value="5"/>
    </bean>
	<!-- mybatis 설정 -->
	<bean id="sqlSessionFactory" 
	             class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="typeAliasesPackage" value="kr.cafein.domain,
												   kr.cafein.franchise.domain,
												   kr.cafein.admin.domain"/>

	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="kr.cafein.member.dao,
											kr.cafein.pcafe.dao,
											kr.cafein.franchise.dao,
											kr.cafein.main.dao,
											kr.cafein.admin.dao"/>

										
	</bean>
</beans>