<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.cafein.pcafe.dao.PCafeMapper">  

	<!-- private main 카페 정보 에이작스 페이징 처리를 위한 리스트 select -->
   <select id="list" parameterType="map" resultType="pcafeCommand">
	  <!-- replace title에서 태그를 못쓰도록 <,>를 &lt,&gt로 대체함 -->  
		SELECT 
		*
		FROM (SELECT 
		  			a.*, 
		  			rownum rnum 
		  		FROM (SELECT pcafe.*, 
		  					 pc_reply.pc_reply_cnt, 
		  					 pc_like.pc_like_cnt
		  				FROM private_cafe pcafe 
		                  	LEFT JOIN (SELECT pcafe_num, count(*) pc_reply_cnt 
		                  				FROM private_cafe_reply 
		                  				GROUP BY pcafe_num)pc_reply 
		                  	ON pcafe.pcafe_num = pc_reply.pcafe_num  
	                 		LEFT JOIN (SELECT pcafe_num, count(*) pc_like_cnt 
	                 					FROM u_like 
	                 					GROUP BY pcafe_num) pc_like
	                		ON pcafe.pcafe_num = pc_like.pcafe_num
	           		<!-- 최신순 정렬 -->
	           		<if test="category == 1 and keyword ==''">
	           			ORDER BY pcafe.pcafe_reg_date DESC)a)
	           		</if>
	           		<!-- 조회순 정렬 -->
	           		<if test="category == 2 and keyword ==''">
	           			ORDER BY pcafe.pcafe_visit DESC)a)
	           		</if>
	           		<!-- 좋아요순 정렬 -->
	           		<if test="category == 3 and keyword ==''">
	           			ORDER BY pc_like.pc_like_cnt DESC nulls last)a)
	           		</if>
	           		<!-- 사장권한 내글보기순 정렬 -->
	           		<if test="category == 4 and keyword ==''">
	           			WHERE pcafe.u_uid = #{u_uid}
	           			ORDER BY pcafe.pcafe_reg_date DESC)a)
	           		</if>
	           		<!-- 검색어가 있을 경우 카페이름과 태그에서 해당하는 것 모두 찾아서 최신순 정렬 -->
	           		<if test="keyword !=''">
	                    WHERE pcafe_name like '%' || #{keyword} || '%' or
	             			  pcafe_hash_tag like '%' || #{keyword} || '%'
	             		ORDER BY pcafe.pcafe_reg_date DESC)a)
	                </if>
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	
   </select>
   
   <!-- 메인의  카테코리에 따른 카페 count, 검색된 수에 대한 count -->
   <select id="getRowCount" parameterType="map" resultType="integer">
      SELECT count(*) FROM private_cafe
	      <where>
	      	  <if test="category == 4 and keyword == ''">
	             u_uid = #{u_uid}
	          </if>
	      	  <if test="category == 4 and keyword != ''">
	             u_uid = #{u_uid} or
	             pcafe_name like '%' || #{keyword} || '%' or
	             pcafe_hash_tag like '%' || #{keyword} || '%'
	          </if>
		      <if test="category != 4 and keyword != ''">
	             pcafe_name like '%' || #{keyword} || '%' or
	             pcafe_hash_tag like '%' || #{keyword} || '%'
	          </if>
          </where>
   </select>
   
   <!-- private_detail 메뉴의 페이징 처리를 위한 리스트 select  -->
   <select id="menuList" parameterType="map" resultType="pcafeMenuCommand">
		SELECT *
		FROM (SELECT 
		        a.*,
		        rownum rnum 
		       FROM (SELECT * FROM private_cafe_menu 
		       		 WHERE pcafe_num = #{pcafe_num}
		             ORDER BY pmenu_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	
   </select>
   
   <!-- 댓글처리 -->
   <!-- to_char(preply_reg_date,'YYYY-MM-DD HH24:MI:SS') preply_reg_date -->
   <select id="replyList" parameterType="map" resultType="pcafeReplyCommand">
   		SELECT 
			preply_num,
			pcafe_num,
			u_uid,
			preply_content,
			preply_nickname,
			preply_reg_date
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT 
			  			*
			  		FROM private_cafe_reply
			  		WHERE pcafe_num = #{pcafe_num}
			  		ORDER BY preply_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>	
   </select>
</mapper>