.img-logo{
	width:192px;
	height:192px;
}
.view-tenth{
	width:200px;
	height:200px;
	margin-top:48px;
	margin-left:40px;
	margin-right: 15px; 
	margin-bottom:-10px;
	float:left;	
	padding-left:3px;
	pdding-top:5px;
}
.text-center margin-bottom-10{
	margin-bottom:-5px; 
}