<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cafein.admin.customizingcafe.dao.AdminCustomizingMapper">

	
	
<!-- 검색조건에 프렌차이즈 네임받기 -->


	<select id="searchList" parameterType="map" resultType="AdminCustomizingDetailCommand">
		SELECT 
		c.*,u.u_name,f.franchise_name 
		FROM customizing c, u_user u, franchise f 
		WHERE c.custom_num =#{custom_num}  and f.franchise_num=#{franchise_num} and u.u_uid=#{u_uid} and c.franchise_num = f.franchise_num
			<if test="keyword !=''">
				and (custom_name like '%' || #{keyword} || '%' or
				custom_recipe like '%' || #{keyword} || '%' or
				franchise_num like '%' || #{keyword} || '%')
			</if>
		ORDER BY custom_num ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>

	</select> 

<!-- 


 	<select id="searchList" parameterType="map" resultType="AdminCustomizingCommand">
		SELECT
		*
		FROM (SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		*
		FROM customizing
		where custom_num = #{custom_num}
			<if test="keyword !=''">
				and (custom_name like '%' || #{keyword} || '%' or
				custom_recipe like '%' || #{keyword} || '%' or
				franchise_num like '%' || #{keyword} || '%')
			</if>
		ORDER BY custom_num ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>

	</select>  -->
	
	
	


	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT
		count(*)
		FROM customizing
		WHERE
		custom_num = #{custom_num}
	</select>

</mapper>







