<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cafein.admin.customizingcafe.dao.AdminCustomizingMapper">

	
	
<!-- 검색조건에 프렌차이즈 네임받기 -->
	<select id="searchList" parameterType="map" resultType="AdminCustomizingCommand">
		SELECT
		*
		FROM (SELECT
		a.*,
		rownum rnum
		FROM (SELECT
		*
		FROM customizing
		where custom_num = #{custom_num}
			<if test="keyword !=''">
				and (custom_name like '%' || #{keyword} || '%' or
				custom_recipe like '%' || #{keyword} || '%' or
				franchise_num like '%' || #{keyword} || '%')
			</if>
		ORDER BY custom_num ASC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>

	</select>
	


	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT
		count(*)
		FROM customizing
		WHERE
		custom_num = #{custom_num}
	</select>

</mapper>







