<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.cafein.admin.customizingcafe.dao.AdminCustomizingMapper">

	
	
<!-- 검색조건에 프렌차이즈 네임받기 -->


	<select id="searchList" parameterType="map" resultType="AdminCustomizingDetailCommand">
		SELECT 
            *
    FROM (SELECT
            a.*,
            rownum rnum
           FROM (SELECT 
                    cus.*,u.u_name
                 FROM customizing cus,
                 u_user u
                 WHERE cus.u_uid=#{u_uid} and cus.franchise_num=#{franchise_num} and cus.custom_num != #{custom_num} and cus.u_uid = u.u_uid
				<if test="keyword !=''">
					and (custom_name like '%' || #{keyword} || '%' or
					custom_introduce like '%' || #{keyword} || '%' or
					custom_recipe like '%' || #{keyword} || '%' or
					u_uid like '%' || #{keyword} || '%')
				</if> 
		ORDER BY custom_num ASC)a)
			<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]> 
		
		
		

 
	</select>


	
	


	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT
		count(*)
		FROM customizing
		WHERE
		custom_num = #{custom_num}
	</select>

</mapper>







