<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="kr.cafein.franchise.dao.FranchiseMapper">  
	<select id="list" parameterType="map" resultType="franchiseCommand">
		SELECT
		*
		FROM
		franchise
	</select>
	
	<select id="getRowCount" parameterType="map" resultType="integer">
		SELECT count(*) FROM franchise_menu 
		WHERE franchise_num = #{franchise_num} 
	</select>
	
	<!-- 댓글 -->
	<!-- <select id="listReply" parameterType="map" resultType="franchiseReplyCommand">
		SELECT
		*
		FROM
		franchise_reply
		WHERE franchise_num = #{franchise_num} order by freply_reg_date desc
	</select> -->
</mapper>







